/******************base*****************/

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: url(fume.gif) no-repeat fixed 50% 50%;
    background-size: cover;
}

/***************************************nav*************************************/

nav {
    background-image: linear-gradient(to top, #000000, #67676700);
    position:fixed;
    bottom:0px;
    width: 100%;
    opacity: 0.90;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    margin: 1.8% 2.5%;
}

a {
    text-decoration: none;
    /*display: block;*/
    color: #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#kto {
    float: left;
    font-weight: bold;
    font-size: 3em;
}

#video {
    float: left;
    font-weight: bold;
    font-size: 3em;
}

#kak {
    float: right;
    font-weight: bold;
    font-size: 3em;
}

#kto:hover, #video:hover, #kak:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    transform: scale(1.12);
    transition: 0.1s;
}

/******************************content******************************/

#un {
  display: flex;
  column-gap: 5%;
}

img {
  margin-left: 10%;
  margin-top: 5%;
  max-height : 500px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 4px 7px 25px 3px rgba(0,0,0,0.89); 
  box-shadow: 4px 7px 25px 3px rgba(0,0,0,0.89);
}

p {
  color: rgb(165, 165, 165);
  text-shadow: 4px 5px 5px rgba(0,0,0,0.78);
  float: left;
  font-weight: bold;
  margin-right: 15%;
  margin-top: 13%;
  font-size: 1.8em;
}

/***************************effets***************************/

img {
    animation: apparition1 2s ease-out ;
}

p {
    animation: apparition2 3s ease-out ;
}

@keyframes apparition1 {
    from{
        opacity: 0;
        transform: translateX(-65px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }

  @keyframes apparition2 {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }

img:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    transform: scale(1.03);
    transition: 0.1s;
}