/*************************************BASE*************************************/

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: url(../images/fume.gif) no-repeat fixed 50% 50%;
  background-size: cover;
}

/*************************************NAV*************************************/

nav {
  background-image: linear-gradient(to top, #000000, #9393931c);
  position:fixed;
  bottom:0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.nav-1 {
  display: flex;
}

.nav-2 {
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 10px 50px;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: 'Share Tech Mono', monospace;
  font-size: 36pt;
  font-weight: bold;
}

.kto:hover, .video:hover, .kak:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: bold;
  transform: scale(0.90);
  transition: 0.1s;
}

.kto a:hover, .video a:hover, .kak a:hover, li a i:hover{
  color: #6d6d6d;
}

.home {
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.home:hover {
  transform: scale(0.85);
}

@keyframes apparition3 {
  from{
      opacity: 0;
      transform: translateY(50px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

.maison {
  animation: apparition3 1.5s ease-out ;
}

.kto {
  animation: apparition3 3s ease-out ;
}

.video {
  animation: apparition3 4.5s ease-out ;
}

.kak {
  animation: apparition3 6s ease-out ;
}

/************************************MAIN*************************************/

main {
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 45pt;
  margin: 3% 3%;
}

main li {
  font-family: 'Dela Gothic One', cursive;
}

main h2 {
  color: rgb(255, 255, 255);
  text-shadow: 4px 5px 5px rgba(0,0,0,0.78);
  font-size: 2.3em;
}

main ul {
  color: rgb(255, 255, 255);
  text-shadow: 4px 5px 5px rgba(0,0,0,0.78);
  font-size: 1.7em;
}

main p {
  margin-top: 5%;
  animation: apparition4 5s ease-out ;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  cursor: default;
}

main p a {
  color: #4C49D7;
  background-color: #d6d6d6;
  border: 5px solid #4C49D7;
  border-radius: 15px;
  padding: 10px;
  font-size: 27pt;
  animation: pulse 1.3s infinite;
}

/**********************************effets***********************************/

main h1 {
  animation: apparition1 1.8s ease-out ;
}

.ul1 {
  animation: apparition1 2.6s ease-out ;
}

.ul2 {
  animation: apparition1 3.4s ease-out ;
}

main p {
  animation: apparition1 4.2s ease-out ;
}

main p {
  animation: apparition1 5s ease-out ;
}

/***********************************/

@keyframes apparition1 {
  from{
      opacity: 0;
      transform: translateY(100px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

/***********************************/

@keyframes pulse {
  to {
      box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.151);
  }
}

main p:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.1s;
}

