/*************************************BASE*************************************/

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: url(../images/fume.gif) no-repeat fixed 50% 50%;
    background-size: cover;
}

/*************************************NAV*************************************/

nav {
    background-image: linear-gradient(to top, #000000, #9393931c);
    position:fixed;
    bottom:0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.nav-1 {
    display: flex;
}

.nav-2 {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 10px 50px;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Share Tech Mono', monospace;
    font-size: 36pt;
    font-weight: bold;
}

.kto:hover, .video:hover, .kak:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    transform: scale(0.90);
    transition: 0.1s;
}

.kto a:hover, .video a:hover, .kak a:hover, li a i:hover {
    color: #6d6d6d;
}

.home {
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.home:hover {
    transform: scale(0.85);
}


@keyframes apparition3 {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.maison {
    animation: apparition3 1.5s ease-out ;
}

.kto {
    animation: apparition3 3s ease-out ;
}

.video {
    animation: apparition3 4.5s ease-out ;
}

.kak {
    animation: apparition3 6s ease-out ;
}

/************************************MAIN*************************************/

.box {
  display: flex;
  align-items: center;
  margin: 5% 10% 0px 10%; 
}

img {
    flex: 1;
    max-width: 350px;
    margin-right: 3%;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

p {
    flex: 1;
    font-family: 'Share Tech Mono', monospace;
    font-size: 17pt;
    font-weight: bold;
}

/***EFFECTS***/

img {
    animation: apparition1 2s ease-out ;
}

p {
    animation: apparition2 3s ease-out ;
}

@keyframes apparition1 {
    from{
        opacity: 0;
        transform: translateX(-65px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }

  @keyframes apparition2 {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }

img:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    transform: scale(1.03);
    transition: 0.1s;
}
